* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Public Sans', sans-serif;
    justify-content: center;
}

.container {
    display: flex;
    flex-basis: 75%;
    column-gap: 2em;
    background-color: azure;
}

.left-container {
    color: blue;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
}

.left-container input,
.left-container select {
    height: 2em;
    border-radius: 10px;
    background-color: lightgray;
}

.left-container input,
.left-container label {}

form h1 {
    font-size: xx-large;
    text-align: center;
}

#submit {
    background-color: blue;
    color: #fff;
}


.left-container form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 2em;
}


.right-container {
    flex-grow: 2;
    display: flex;
    align-self: center;
    padding: 10px;
    margin: 40px;
    background-color: #fff;
}

.priority-left {
    flex-grow: 1;
}

.priority-head h3 {
    background-color: rgb(214, 48, 76);
    color: #fff;
    padding: 3px;
    border-radius: 10px;
}


.priority-right {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    color: blue;
}


.priority-left img {
    height: 3em;
    width: 5em;
}

#profile img,
#comment img {
    height: 1em;
    width: 1em;
}

#profile,
#comment {
    display: flex;
    column-gap: 1em;
}

.priority-right {
    row-gap: 1em;
}

.priority-head {
    display: flex;
    justify-content: space-between;
}

.date p {
    color: gray;
}

.priority-middle {
    display: flex;
    flex-direction: column;
}

.priority-middle div {
    display: flex;
    column-gap: 1em;
}

.priority-middle h4 {
    background-color: gainsboro;
    padding: 2px;
}

.priority-bottom {
    display: flex;
    justify-content: space-between;
}

i {
    color: gray;
}



@media (max-width:600px) {
    .container{
        flex-direction: column;
    }
}